<p>Añadir Comentario:</p>
<form method="post" action="/quizes/<%= quizid %>/comments">
	<input id="comment" type="text" name="comment[texto]" placeholder="Escriba el Comentario" class="caja-texto">
	<button type="submit" class="boton boton-save">Comentar</button>
</form>