<h2>Login</h2>
<form method="POST" action="/login">
	<div class="field">
		<label for="login">Login:</label><br>
		<input type="text" name="login" size="30" id="login" class="caja-texto">
	</div>
	<div class="field">
		<label for="password">Password:</label>
		<br>
		<input type="password" id="password" name="password" size="30" class="caja-texto">
	</div><br>
	<div class="actions"><input type="submit" name="commit" class="boton boton-enviar" value="Login"></div>
</form>